.auth-links
  - if current_user.present?
    %div=link_to('Sign out', destroy_user_session_path, method: :delete)
  - else
    %span=link_to('Sign in', new_user_session_path)
    %span=link_to('Sign up', new_user_registration_path)
